.wrapper {
  margin-top: 40px;
  padding: 50px 20px;
  background-color: var(--mantine-color-gray-0);
  border-radius: var(--mantine-radius-md);
  margin-bottom: 50px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.list {
  list-style-type: disc;
  margin-left: 20px;
}

.listItem {
  margin-bottom: 10px;
}
