.title {
  color: var(--mantine-color-black);
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -2px;

  @media (max-width: 768px) {
    font-size: 50px;
  }
}

.carouselCaption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
